<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492270995438-ve41gd77ab3on1tmm0a0vc0r3q4bf0jt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492270995438-ve41gd77ab3on1tmm0a0vc0r3q4bf0jt</string>
	<key>API_KEY</key>
	<string>AIzaSyCyVxBAMFSdGE8nUgP5Uo9o6h7yNFQKHbo</string>
	<key>GCM_SENDER_ID</key>
	<string>492270995438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tolba.TodoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-f4dd8</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-f4dd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492270995438:ios:1858a020cd894f98d030ff</string>
</dict>
</plist>